<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/style.css">

<title>게시글 작성</title>
</head>
<body>
	<div id="wrap">
		<header class="d-flex justify-content-between">
			<div>
				<h1>Totragram</h1>
			</div>
			
			<div><span th:text="|${userNickname}님|">실험용님</span> <a href="/user/logout">로그아웃</a></div>
		</header>
		
		<section>
			<div class="section-item box-center gray-border">
				<div class="p-1 ml-3 mt-2">
					<span th:text="${userNickname}">닉네임</span>
				</div>
				
				<div class="p-3">
					<textarea id="contents" class="form-control" rows=5></textarea>
				</div>
				
				<div class="d-flex justify-content-between p-3">
					<input name="fileInput" id="fileInput" type="file">
					<button id="boardBtn" class="btn btn-primary">게시하기</button>
				</div>
			</div>
		</section>
	</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

<script>
	$(document).ready(function(){
		$("#boardBtn").on("click", function(){
			let contents = $("#contents").val();
			let fileInput = $("#fileInput")[0].files[0];
			
			
			if(contents.length == 0){
				alert("내용을 입력해주세요");
				return false;
			}
			
			let formData = new FormData();
			
			formData.append("contents", contents);
			formData.append("imagePath", fileInput);
			
			$.ajax({
				type:"post"
				,url:"/main/board/create"
				,data:formData
				,enctype:"multipart/form-data"
				,processData:false
				,contentType:false
				,success(response){
					if(response){
						alert("저장완료");
						location.href="/main/timeline-view";
					}else{
						alert("저장중 에러");
					}
				}
				,error(){
					alert("에러");
				}
			});
		});
	});
</script>
</body>
</html>