<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<title>Totragram</title>
</head>
<body>
	<!-- 모달 목록 -->
	<!-- 모달 확인 -->
	<div class="modal">
		<div class="modal-body text-center">
			<span>이 게시물을 삭제하시겠습니까?</span>
			
			<div class="d-flex mt-3">
				<button id="deleteBtn" class="btn btn-primary w-50">삭제</button>
				<button id="noneBtn" class="btn btn-danger w-50">취소</button>
			</div>
		</div>	
	</div>

	<!-- 메인 -->
	<div id="wrap">
		<header class="d-flex justify-content-between">
			<div>
				<h1>Totragram</h1>
			</div>
			
			<div><span th:text="|${userNickname}님|">실험용님</span> <a href="/user/logout">로그아웃</a></div>
		</header>
		
		<section>
			<article>
				<div class="section-item box-center w-50">
					<div class="p-1 ml-3 mt-2">
						<span th:text="${userNickname}">닉네임</span>
					</div>
					
					<div class="p-3">
						<textarea id="contents" class="form-control" rows=5></textarea>
					</div>
					
					<div class="d-flex justify-content-between p-3">
						<input name="fileInput" id="fileInput" type="file">
						<button id="boardBtn" class="btn btn-primary">게시하기</button>
					</div>
				</div>
			</article>
			
			<th:block th:if="result">
				<div class="w-50 box-center">
					<hr>		
				</div>
			</th:block>
			
			<th:block th:if="result" th:each="resultList : ${resultList}">
				<div class="section-item box-center">
					<!-- 게시자 정보 -->
					<div class="d-flex justify-content-between">
						<div class="d-flex p-3">
							<div class="user-box d-flex align-items-start ml-4">
								<i class="bi bi-person-circle"></i>
							</div>
							
							<div class="ml-2 d-flex align-items-end" th:text="${resultList.user.nickname}"><h2>아이디</h2></div>
						</div>
						
						<div th:if="${resultList.user.nickname == userNickname}" class="d-flex align-items-center p-3 mt-3 mr-3">
							<i class="bi bi-three-dots instagram-icon modal-popup" th:data-post-id="${resultList.post.id}"></i>
						</div>
					</div>
					
					<!-- 게시글 내용 -->
					<div class="d-flex justify-content-center p-5">
						<div class="item">
							<img th:if="${resultList.post.imagePath}" class="img-box bg-primary" th:src="${resultList.post.imagePath}">
							
							<div class="mt-2" th:text="${resultList.post.contents}">
								내용입니다
							</div>
							
							<div class="instagram-icon pt-3 d-flex">
								<div>
									<i th:if="${resultList.likeIsTrue}" class="bi bi-heart-fill instagram-icon heart" th:data-post-id="${resultList.post.id}"></i>
									<i th:unless="${resultList.likeIsTrue}" class="bi bi-heart instagram-icon heart" th:data-post-id="${resultList.post.id}"></i>
								
									<small class="ml-1" th:text="|좋아요 ${resultList.likeCount}개|" th:data-like="${resultList.likeCount}">좋아요</small>
								</div>
								
								<div class="ml-3">
									<i class="bi bi-chat instagram-icon"></i>
									
									<small class="ml-1" th:text="|댓글 ${resultList.commentCount}개|">댓글 ~~개</small>
								</div>
							</div>
							
							<hr>
							
							<div>
								<th:block th:if="${resultList.commentList != null}" th:each="commentList : ${resultList.commentList}">
									<div class="d-flex">
										<b th:text="${commentList.user.nickname}">아이디</b>
										<p class="ml-2" th:text="${commentList.contents}">코멘트</p>
									</div>
								</th:block>
							</div>
						</div>
						
					</div>
					<form class="p-3 d-flex comment-box">
						<input class="form-control col-9 ml-4" type="text" th:id="${resultList.post.id}">
						<button class="btn btn-primary col-2 commentBtn" type="button" th:data-id="${resultList.post.id}">게시</button>
					</form>
				</div>
			</th:block>
	<!--
			<div class="box-center w-50 my-3">
				<button id="pageBtn" class="btn btn-white w-100">더보기</button>
			</div>
			  -->		
		</section>
		
		<footer class="text-center mt-4">
			<small class="text-secondary">Copyright 2024. Totragram All Rights Reserved</small>
		</footer>
	</div>
	
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
	
<script>
	$(document).ready(function(){
		
		// 모달 창
		$(".modal-popup").on("click", function(){
			let postId = $(this).data("post-id");
			
			$(".modal").fadeIn();
			
			$("#deleteBtn").on("click", function(){
				$(".modal").fadeOut();
				
				//게시글 삭제
				$.ajax({
					type:"delete"
					,url:"/post/board/delete"
					,data:{"postId" : postId}
					,success(){
						location.reload();
					}
				});
			});
			
			$("#noneBtn").on("click", function(){
				$(".modal").fadeOut();
			});
			
		});
		
		// 게시버튼
		$("#boardBtn").on("click", function(){
			let contents = $("#contents").val();
			let fileInput = $("#fileInput")[0].files[0];
			
			
			if(contents.length == 0){
				alert("내용을 입력해주세요");
				return false;
			}
			
			let formData = new FormData();
			
			formData.append("contents", contents);
			formData.append("imagePath", fileInput);
			
			$.ajax({
				type:"post"
				,url:"/post/board/create"
				,data:formData
				,enctype:"multipart/form-data"
				,processData:false
				,contentType:false
				,success(response){
					if(response){
						alert("게시완료");
						location.reload();
					}else{
						alert("저장중 에러");
					}
				}
				,error(){
					alert("에러");
				}
			});
		});
		
		// 댓글
		$(".commentBtn").on("click", function(){
			let postId = $(this).data("id"); // btn에 원하는 input id 저장
			// input id를 문자열로 만들어서
			let commentId = "#" + postId;
			// 만들어진 문자열을 대입해서 "#id" 이러한 형식으로 넣지않고
			// 아무 버튼이나 눌렀을때 가져오는 input이 다르게 제작
			let comment = $(commentId).val();
			// let comment = $(this).prev().val(); 내 바로 앞에있는 태그의 객체를 가져온다
			if(comment.length == 0){

				return false;
			}
			
			$.ajax({
				type:"post"
				,url:"/post/comment/create"
				,data:{"comment" : comment
						,"postId" : postId}
				,success(response){
					if(response){
						location.reload();
					}else{
						alert("실패!");
					}
					
				},error(){
					alert("서버문제");
				}
			});
		});
		
		// 좋아요
		$(".heart").on("click", function(){
			let postId = $(this).data('post-id');
			let likeCount = $(this).next().data("like");

			if($(this).hasClass("bi-heart")){

				$.ajax({
					type:"post"
					,url:"/post/like/create"
					,data:{"postId" : postId}
				});
				likeCount++;
				$(this).addClass("bi-heart-fill");
				$(this).removeClass("bi-heart");
				
			}else{

				$.ajax({
					type:"delete"
					,url:"/post/like/delete"
					,data:{"postId" : postId}
				});
				likeCount--;
				$(this).addClass("bi-heart");
				$(this).removeClass("bi-heart-fill");
				
			}
			$(this).next().data("like", likeCount);
			$(this).next().text("좋아요 " + likeCount + "개");
					
		});
	});
</script>
</body>
</html>