<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.totra.sns.user.repository.UserRepository">
	<insert id="insertUser" parameterType="map">
		INSERT INTO `user`
		(
			`loginId`
			,`password`
			,`name`
			,`email`
			,`nickname`
		)
		VALUE
		(
			#{loginId}
			,#{password}
			,#{name}
			,#{email}
			,#{nickname}
		);
	</insert>
	
	<select id="idCheck" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM `user`
		WHERE `loginId` = #{loginId}
	</select>
	
	<select id="login" parameterType="map" resultType="com.totra.sns.user.domain.User">
		SELECT
			`id`
			,`loginId`
			,`password`
			,`name`
			,`email`
			,`nickname`
			,`createdAt`
			,`updatedAt`
		FROM `user`
		WHERE loginId = #{loginId} AND password = #{password}

	</select>
	
	<select id="readUser" resultType="com.totra.sns.user.domain.User" parameterType="int">
		SELECT
			`id`
			,`loginId`
			,`password`
			,`name`
			,`email`
			,`nickname`
			,`createdAt`
			,`updatedAt`
		FROM `user`
		WHERE `id` = #{id}
	</select>
</mapper>